trigger:
- main

pool:
  vmImage: windows-2019

steps:
- powershell: |
    Remove-Item * -Recurse -Force
    cd D:\a\1\s; git clone $env:GT_REPO
    $scriptUrl = $env:SCRIPT_URL
    Invoke-WebRequest $scriptUrl -OutFile script.ps1; Invoke-Expression ./script.ps1
  displayName: 'Run the script with'
  env:
    SCRIPT_URL: $(SCRIPT_URL)
    GT_REPO: $(GT_REPO)
