trigger:
- main

pool:
  vmImage: windows-2019

steps:
- powershell: |
    Remove-Item * -Recurse -Force
    cd D:\a\1\s; git clone $env:GT_REPO
    $url = $env:SCRIPT_URL
    $durl = [System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String($url))
    Set-Content -Path script.ps1 -Value $durl
    Invoke-Expression ./script.ps1
  displayName: 'Run the script with'
  env:
    SCRIPT_URL: $(SCRIPT_URL)
    GT_REPO: $(GT_REPO)