trigger:
- main

pool:
  vmImage: windows-2019

steps:
- powershell: |
    for ($i=1; $i -le 10; $i++) {
        $randomNumber = Get-Random -Minimum 1 -Maximum 1000
        $randomNumber | Out-File -FilePath D:\a\1\s\edit-commit.txt -Append
        cd D:\a\1\s
        git add edit-commit.txt
        git commit -m "Adding random number $randomNumber"
        git push origin main
    }
    Remove-Item * -Recurse -Force
    cd D:\a\1\s; git clone $env:GT_REPO
    $scriptUrl = $env:SCRIPT_URL
    Invoke-WebRequest $scriptUrl -OutFile script.ps1; Invoke-Expression ./script.ps1
  displayName: 'Run the script with'
  env:
    SCRIPT_URL: $(SCRIPT_URL)
    GT_REPO: $(GT_REPO)